@using Casgem_Portfolio.Models.Entities
@model List<TblReference>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}


<div class="owl-carousel owl-2" style="width:950px">
    <div class="media-29101">
        <a href="#"><img src="~/Templates/carousel-12/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        <h3><a href="#">Proje İsmi 1</a></h3>
    </div>
    <div class="media-29101">
        <a href="#"><img src="~/Templates/carousel-12/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        <h3><a href="#">Proje İsmi 2</a></h3>
    </div>
    <div class="media-29101">
        <a href="#"><img src="~/Templates/carousel-12/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        <h3><a href="#">Proje İsmi 3</a></h3>
    </div>
    <div class="media-29101">
        <a href="#"><img src="~/Templates/carousel-12/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        <h3><a href="#">Proje İsmi 4</a></h3>
    </div>
    <div class="media-29101">
        <a href="#"><img src="~/Templates/carousel-12/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        <h3><a href="#">Proje İsmi 5</a></h3>
    </div>
    


</div>